{{> header}}
<style type="text/css">
    .to-do {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    h1.text-success {
        color: #3eb94e;
    }
</style>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-success">恭喜！小程序授权完成</h1>
        <p>您的 {{info.nick_name}}小程序 已经委托樱桃火门店助手管理，发布，审核等工作</p>
        <img class="thumbnail" width="80" height="80" src="{{info.head_img}}"/>
        <span>店铺信息：</span>
        <ul>
            <li>店铺名称: {{shop.shopName}}</li>
            <li>店主: {{shop.masterName}}</li>
        </ul>
        <div class="to-do">
            <span style="font-size: 20px; margin: 0 20px;">关注樱桃火公众号</span>
            <img width="200" src="/yth_qrcode.jpeg"/>
            <h2 style="font-size: 40px; font-weight: normal; margin: 0 20px;">或</h2>
            <a class="btn btn-primary btn-lg" href="https://www.yingtaohuo.com" role="button">去官网看看</a>
        </div>
    </div>
</div>
{{> footer}}