{{> header}}
<div class="container">
  <div class="jumbotron">
    <h1 style="color: #a94442;">出了点问题...</h1>
    <p>原因：{{errMsg}}</p>
    <p>
      解决问题请拨打：13575762817
    </p>
  </div>
</div>
{{> footer}}